{% extends 'sms/base_stock.html' %}

{% block content %}

<form action="{% url 'sms:stockadd' %}" method="POST">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>条形码</th>
                <th>商品名</th>
                <th>参考图</th>
                <th>品牌</th>
                <th>数量</th>
                <th>进货价</th>
                <th>零售价</th>
                <th>品类</th>
                <th>规格</th>
                <th>货架号</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="tpl" style="display: none">
                <th>0</th>
                <th>{{ form.barcode }}</th>
                <th>{{ form.goods_name }}</th>
                <th><img src="{{ form.pic.value }}" width="60" height="60" /></th>
                <th>{{ form.trade_mark }}</th>
                <th>{{ form.num }}{{ field.errors }}</th>
                <th>{{ form.input_price }}</th>
                <th>{{ form.sale_price }}</th>
                <th>{{ form.goods_class }}</th>
                <th>{{ form.spec }}</th>
                <th>{{ form.warehouse }}</th>
                <th>detail</th>
            </tr>
        </tbody>
    </table>
    <button name="submit">提交</button>
    <p>总计<span id="count">0</span>条</p>
</form>
{% endblock %}